In [1]:
import pandas as pd

In [6]:
data_df = pd.read_csv('data.csv', encoding='cp1252') # I've download the data from the link

C:\Users\SATYAPIR\AppData\Local\Temp\ipykernel_15292\681623145.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv('data.csv', encoding='cp1252') # I've download the data from the link

In [8]:
# Data cleaning section
# Converting all the nan values to some other format for future calculation
data_df.rspm.fillna(0.0,inplace=True) # convert nan values to float 0.0
data_df.spm.fillna(0.0,inplace=True)    # convert nan to float 0.0
data_df.pm2_5.fillna(0.0,inplace=True)  # convert nan to float 0.0
data_df.date = data_df.date.astype('str')   # convert datatype to str to calculate the year and month

In [9]:
## getting the year value by using the date column and replacing the nan values with 0000

data_df['year'] = data_df.date.apply(lambda x: x.split('-')[0] if x != 'nan' else '0000')

In [10]:
## getting the month value by using the date column and replacing the nan values with 00

data_df['month'] = data_df.date.apply(lambda x: x.split('-')[1] if x != 'nan' else '00')

In [23]:
########## Top_10_polluted_cities :-

cities_polluted = data_df.groupby(['year', 'location'])[['so2','no2','rspm','spm', 'pm2_5']].mean().reset_index()

top_10_polluted_cities = cities_polluted.sort_values(by=['so2','no2','rspm','spm', 'pm2_5'], ascending=False).head(10).reset_index(drop=True)
print(top_10_polluted_cities)

   year        location         so2         no2       rspm         spm  pm2_5
0  2012        Raniganj  126.408333   14.445833  45.187500    0.000000    0.0
1  1997          Howrah  123.825000  170.800000   0.000000  378.000000    0.0
2  2012  South Suburban  118.842105    8.280702  59.508772    0.000000    0.0
3  1993        Gajroula  109.359091   72.531818   0.000000  140.590909    0.0
4  1991        Gajroula  105.980000  103.600000   0.000000  461.400000    0.0
5  1992          Raipur   92.766667   36.900000   0.000000  144.666667    0.0
6  1993          Howrah   88.956250  140.693750   0.000000   18.812500    0.0
7  1996      Ankleshwar   87.975000   34.320833   0.000000  183.208333    0.0
8  1995      Ankleshwar   87.079167   25.870833   0.000000  328.583333    0.0
9  1999         Dhanbad   85.533333   53.708333   0.000000  235.666667    0.0

In [21]:
########## Top_10_polluted_states :-
state_polluted = data_df.groupby(['year', 'state'])[['so2','no2','rspm','spm', 'pm2_5']].mean().reset_index()
top_10_polluted_states = state_polluted.sort_values(by=['so2','no2','rspm','spm', 'pm2_5'], ascending=False).head(10).reset_index(drop=True)
print(top_10_polluted_states)

   year        state        so2         no2  rspm         spm  pm2_5
0  1995          Goa  81.100000   30.100000   0.0  231.000000    0.0
1  1997          Goa  74.800000   26.016667   0.0  125.000000    0.0
2  1996          Goa  65.566667   24.308333   0.0  192.833333    0.0
3  1993  West Bengal  62.092045   93.290909   0.0   17.704545    0.0
4  1998   Puducherry  60.830303   57.839394   0.0  291.575758    0.0
5  1997   Puducherry  58.205556   45.105556   0.0  265.305556    0.0
6  1998          Goa  55.900000   26.866667   0.0  169.083333    0.0
7  1994  West Bengal  53.373810  123.708333   0.0  262.142857    0.0
8  1999        Bihar  52.655000   42.566250   0.0  285.062500    0.0
9  1995  West Bengal  51.953846  113.887500   0.0  278.730769    0.0

In [22]:
########## Month wise Air quality od Delhi for the year 2021

delhi_2021 = data_df.query("location == 'Delhi' and year == '2021'") # record does not present for the year 2021
print(delhi_2021)

Empty DataFrame
Columns: [stn_code, sampling_date, state, location, agency, type, so2, no2, rspm, spm, location_monitoring_station, pm2_5, date, year, month]
Index: []